body {
  margin: 0;
  font-family: Rockwell;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/main_background.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-form {
  min-width: 300px;
  background: #ffffffed;
  padding: 30px;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon-wrapper .anticon {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 1;
}
.icon-wrapper .anticon:first-child {
  left: 0;
}
.icon-wrapper .anticon:last-child {
  right: 0;
}
.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}