body {
  margin: 0;
  font-family: Rockwell;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./assets/main_background.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-form {
  min-width: 300px;
  background: #ffffffed;
  padding: 30px;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}